.titaui-button {
  border: #e9f1ff;
  border-radius: 5px;
  height: 32px;
  padding: 0 10px;
  background-color: #fff;
  color: rgb(61, 61, 61);
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(233, 233, 233);
  }

  &-primary {
    background-color: rgb(28, 85, 255);
    color: #fff;

    &:hover {
      background-color: rgb(0, 55, 219);
    }
  }
}
