.mdx-h2 {
  position: relative;
  font-weight: bold;
  font-size: 25px;
}
.mdx-h2:hover:before {
  opacity: 1;
}
.mdx-h2::before {
  content: '#2';
  position: absolute;
  left: -10px;
  color: #ccc;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateX(-100%);
}
