.titaui-super-table {
  position: relative;
  color: #36434d;

  .simplebar-scrollbar:before {
    background: #bfc7d5 !important;
  }
  .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    top: 4px;
  }
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    left: 4px;
    right: 0px;
  }

  &--editing &__table-border {
    border-radius: 0 0 12px 12px;
  }
  &__table-border {
    border: 1px solid #DFE3EA;
    border-radius: 12px;
    overflow: hidden;
  }

  &__table-scroll {
    background: #FFFFFF;
    position: relative;
  }

  &__table-container {
    // border: 1px solid #DFE3EA;
  }

  &__content {
    width: 100%;

    tbody tr:first-child {
      border-top: 1px solid #DFE3EA;
    }

    tbody tr + tr {
      border-top: 1px solid #DFE3EA;
    }
    tbody tr > td:not(:last-child) {
      box-shadow: inset -1px 0 1px 0 #DFE3EA;
    }
  }

  &__left-shadow {
    z-index: 3;
    border-right-color: #fff;
    box-shadow: unset !important;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      transform: translate(100%);
      width: 10px;
      height: 100%;
      transition: box-shadow .3s;
      top: 0;
      right: 0;
      box-shadow: inset 10px 0 8px -8px rgba(127, 145, 180, 0.1);
    }
  }
  &__right-shadow {
    z-index: 3;
    
    &::after {
      content: '';
      position: absolute;
      transform: translate(-100%);
      width: 10px;
      height: 100%;
      transition: box-shadow .3s;
      top: 0;
      left: 0;
      box-shadow: inset -10px 0 8px -8px rgba(127, 145, 180, 0.1);
    }
  }

  &__head {
    color: #89919F;
    transition: box-shadow .3s;
    z-index: 2;

    &--pinnedHeader {
      position: sticky;
      top: 0;
    }
    &--shadow {
      z-index: 4;
      box-shadow: 4px 0 12px 0 rgba(127, 145, 180, 0.1);
    }
  }
  
  &__head-item {
    position: relative;
    padding: 0 12px;
    height: 40px;
    background-color: #F7F9FC;
    text-align: left;
    font-weight: normal;

    &.titaui-super-table__left-shadow {
      z-index: 4;
    }
    
    &--center {
      text-align: center;
    }
    &--active {
      background-color: #E1EBFC;
    }
    &--canEdit {
      padding: 0 6px;
    }
    &--canEdit:hover .titaui-table-title-input {
      background: #FFFFFF;
    }
  }
}