.titaui-table-title-input {
  height: 32px;
  width: calc(100% - 12px);
  border-radius: 6px;
  line-height: 32px;
  padding: 0 6px;
  border: 1px solid transparent;
  outline: none;
  overflow: hidden;
  background-color: transparent;

  &:focus {
    background: #FFFFFF;
    border-color: #2879FF !important;
  }
}